<p>Welcome @{{ user.username }}</p>

<p>
  Before you start using <b>Citizen Folder</b> we need you to do one last thing.
</p>

<div>
  <a
    style="text-align: center"
    href="https://cifo.netlify.app/#/verify/{{token}}"
    target="_blank"
    rel="noopener noreferrer"
    >Click here to activate your CIFO account</a
  >
  <p style="text-align: center">
    If the link does not work, copy and paste the following link in the browser:
  </p>
  <p style="text-align: center">https://cifo.netlify.app/#/verify/{{token}}</p>
</div>
